<nav class="w-100 p-3 d-flex position-fixed nav bg-primary" id="nav">
    <div class="d-flex justify-content-between w-75 m-auto align-items-center container-nav__content">
        <div class="logo">
            <a class="text-white text-decoration-none p-1">NOEMI</a>
        </div>
        <div class="mb-0 d-flex place-content-center">
            <ul class="mb-0 align-items-center d-lg-inline-flex d-md-none d-sm-none d-none">
                <li class="list-unstyled"><a class="p-3 text-decoration-none text-white">Inicio</a></li>
                <li class="list-unstyled"><a class="p-3 text-decoration-none text-white">Productos</a></li>
                <li class="list-unstyled"><a class="p-3 text-decoration-none text-white">Tienda</a></li>
                <li class="list-unstyled"><a class="p-3 text-decoration-none text-white">Blog</a></li>
                <li class="header-icons list-unstyled">
                    <span class="me-lg-2"><img src="../../../../assets/favicon/ico-search.svg"></span>
                    <span class="mx-lg-2"><img src="../../../../assets/favicon/ico-sun.svg"></span>
                    <span></span>
                </li>
            </ul>
        </div>
        <label class="btn open-btn p-0 border-0 d-lg-none">
            <img src="../../../../assets/favicon/ico-menuBurger.svg">
        </label>
    </div>
</nav>