<div class="collection-item-card overflow-hidden position-relative">
    <img alt={{productCollectionData.name}} [ngSrc]="productCollectionData.picture" width={{productCollectionData.pictureWidth}} height={{productCollectionData.pictureHeight}} class="w-100 h-100" sizes="100%">
    <div class="collection-item-card__content position-absolute text-white text-center">
        <h3 class="rounded-5 text-uppercase">{{productCollectionData.name}}</h3>
        <a href="#" class="text-decoration-none text-white">SHOP NOW</a>
    </div>
</div>