<app-layout-master class="p-0 m-0">
    <div class="hero d-flex bg-orange min-vh-100">
        <div class="d-flex flex-column position-absolute mx-lg-5 mx-md-5 mx-sm-5 mx-5 container-hero">
            <span class="text-white title-hero">Ventas Exclusivas</span>
            <h1 class="text-white subtitle-hero">HASTA 50% DE DESCUENTO EN REBAJAS</h1>
            <small class="text-white description-hero">Consigue todas las ofertas exclusivas de la temporada</small>
            <a class="text-white text-decoration-none button-hero mt-lg-5 mt-md-5 mt-sm-5 mt-5">Ver Colección</a>
        </div>
        <div class="hero-image position-absolute bottom-0 end-0 d-lg-block d-md-block d-sm-block d-none">
            <img src="../../../../assets/images/img-hero.webp" class="mx-4" alt="img-hero">
        </div>
    </div>
    <div class="bg-container p-5">
        <h1 class="text-white text-center title-container">Comprar Colecciones</h1>
        <p class="mb-0 text-center subtitle-container mb-5">Seleccione productos premium y ahorre mucho dinero.</p>
        <div class="container-collection d-grid w-75 m-auto">
            <app-product-collection-card *ngFor="let item of productCollectionDataFake" [productCollectionData]="item"></app-product-collection-card>
        </div>
    </div>
</app-layout-master>