<footer class="w-100 p-lg-5 p-md-5 p-sm-5 p-1 d-flex bg-orange">
    <div class="container w-75 p-0 d-lg-flex d-md-flex d-sm-grid d-grid">
        <div class="col d-flex flex-lg-row flex-md-column flex-sm-column flex-column">
            <div class="col d-flex flex-column">
                <h3 class="text-white title-footer mb-3">EXTRAS</h3>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Marcas</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Certificados de regalo</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Afiliado</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Especiales</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Mapa del sitio</a>
            </div>
            <div class="col d-flex flex-column mt-lg-0 mt-md-3 mt-sm-2 mt-2">
                <h3 class="text-white title-footer mb-3">INFORMACIÓN</h3>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Sobre Nosotros</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Politica de privacidad</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Términos y condiciones</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Contacta con nosotros</a>
            </div>
        </div>
        <div class="col d-flex flex-lg-row flex-md-column flex-sm-column flex-column mt-lg-0 mt-md-0 mt-sm-2 mt-2">
            <div class="col d-flex flex-column">
                <h3 class="text-white title-footer mb-3">MI CUENTA</h3>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Mi cuenta</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Historial de pedidos</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Lista de deseos</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Boletin informativo</a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 text-left">Devoluciones</a>
            </div>
            <div class="col d-flex flex-column mt-lg-0 mt-md-3 mt-sm-2 mt-2">
                <h3 class="text-white title-footer mb-3">CONTÁCTENOS</h3>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 d-flex place-items-center text-left">
                    <img src="../../../../assets/favicon/ico-markerMap.svg" class="icon-footer me-2">
                    42 Dream House, Dreammy street, 7131 Dreamville, USA
                </a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 d-flex place-items-center text-left">
                    <img src="../../../../assets/favicon/ico-email.svg" class="icon-footer me-2">
                    company@gmail.com
                </a>
                <a href="" class="text-white text-decoration-none subtitle-footer mb-2 d-flex place-items-center text-left">
                    <img src="../../../../assets/favicon/ico-call.svg" class="icon-footer me-2">
                    456-456-4512
                </a>
                <a href="" class="mt-3 footer-icons-payments">
                    <img src="../../../../assets/images/payment.png" class="w-100">
                </a>
            </div>
        </div>
    </div>
</footer>